#.project
.metadata
_sgbak/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.svn/
.git/
*.log
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
#.cproject

#BimServer/*
#BimServerClientLib/*
#buildingSMARTLibrary/*
#Builds/*
#CityGML/*
#ClashDetection/*
#Collada/*
#Emf/*
#FileBasedObjectIDM/*
#GeneratedProtocolBuffersClient/*
#Ifc/*
#IfcEngine/*
#IfcPlugins/*
#JavaQueryEngine/*
#Mergers/*
#MiscSerializers/*
#Report1Serializer/*
#SceneJS/*
#Shared/*
#TestData/*
#Tests/*
#TestViewer/*
#Utils/*
#XsltSerializer/*

