<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.cobie.plugins.COBieSerializerPlugin</implementationClass>
	</PluginImplementation>

		<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.cobie.plugins.COBieLiteSerializerPlugin</implementationClass>
	</PluginImplementation>

	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.deserializers.DeserializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.cobie.plugins.COBieDeserializerPlugin</implementationClass>
	</PluginImplementation>

	
</PluginDescriptor>